body {
    font-family: fantasy, sans-serif;
    margin: 0%;
    width: auto;
    /* display: flex; */
    /* flex: 1 0 auto; */
}

#play_computer h2 {
    margin: 4vh;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#play_computer form label {
    margin-right: 2vh;
}

#player_name_entry {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

#player_choice_entry {
    display: flex;
    justify-content: center;
}

#player_choice_entry input {
    margin-left: 2vh;
}