<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DARK SCISSORS</title>
</head>
<body>
    <h1>D@RK 5CI550RZ!?!</h1>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/welcome">Rules</a>
        </li>
        <li>
            <a href="/play">vs Computer</a>
        </li>
    </ul>
    {% block content %}

    {% endblock %}
</body>
</html>