{% extends "base.html" %}

{% block content %}
<section class="player_choices">
    <main>
        <h2>PLAYER 1</h2>
        <marquee>CHOOSE YOUR WEAPON</marquee>
        <ul>
            <li><a href="rock">ROCK</a></li>
            <li><a href="paper">PAPER</a></li>
            <li><a href="scissors">SCISSORS</a></li>
        </ul>

        <!-- <img src="/images/rock.gif"/>
        <img src="/images/paper.gif"/>
        <img src="/images/scissors.gif"/> -->

    </main>
</section>

{% endblock %}