{% extends "base.html" %}

{% block content %}

<section id="welcome">
    <h2>Welcome TO GAme!</h2>

    <section id="rules">
    <h4>How do you play?</h4>
    <ul>
        <li>first player 1 must click on choose of either ROCK, PApER or SCISSORS</li>
        <li>then player 2 must click on their choice of either ROCK, PAPER OR SCISSORS</li>
        <li>then battle commence and winnder is declared!</li>
    </ul>
    </section>

    <article>
        <h4>What is rock paper scissors?</h4>
        <p>
            Stone-paper scissors (“stone-paper scissors” are sometimes called “rock” or rochambo, roshambo, roshambo) is a hand game
            usually played by two people. Each player will simultaneously achieve and create one of three shapes. These shapes are
            “rock” (closed fist), “paper” (straight hand), and “scissors” (fist with forefinger and middle finger extended into the
            letter V). “Scissors” are the same as a two-fingered V sign (also known as “victory” or “peace”), only they are directed
            horizontally and not straight in the air.
            
            There are only two consequences of a simultaneous zero-sum game: a draw or one player wins and the other loses. The
            player who chooses to play the stone defeats the other player who chooses the scissors ("Crush the Stone Scissors" or
            "Dark Scissors"), but loses the player who played the paper ("The Paper Covers the Stones"); lose scissor toys
            ("Scissors cut paper"). If both players choose the same format, the game ends in a draw and is usually played
            immediately and ends in a draw. This type of game started in China and spread as was more associated with East Asia, but
            over time, different versions of the characters emerged.
            
            Rock paper scissors are often used as a fair way to choose between two people, such as spinning coins, pulling straw,
            throwing dice to resolve disputes, and making fair group decisions. However, unlike a truly random method of selection,
            it can be identified with paper-playing scissors with some skill by recognizing and using non-random movements of the
            opponent.
        </p>
    </article>
</section>


{% endblock %}